
body { font-family: Arial; background:#f4f9ff; margin:0; }
header { background:#2563eb; color:white; padding:15px; text-align:center; }
.card { background:white; padding:15px; margin:10px; border-radius:8px; box-shadow:0 0 10px #ccc; }
